.contact {
  display: flex;
  flex-direction: column;
}
.contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea {
  width: 300px;
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 5px;
  background-color: white;
  border: 1px solid rgb(218, 249, 255);
  border-radius: 10px;
  transition: all 0.1s ease-out;
}
label {
  color: rgb(37, 37, 37);
}
.contact ::placeholder {
  font-size: 0.9rem !important;
}
input[type="submit"] {
  width: 140px;
  font-size: 0.9rem;
  padding: 9px;
  border-radius: 15px;
  margin: 20px auto;
  margin-bottom: 0px !important;
  background-color: white;
  transition: all 0.2s ease-out;
  border: 1px solid rgb(218, 249, 255);
  color: rgb(41, 41, 41);
}
input[type="submit"]:hover {
  color: white;
  background-color: rgb(115, 255, 35);
}
.contact input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="tel"]:hover,
textarea:hover {
  border: 1px solid rgb(73, 73, 73);
}
fieldset {
  width: 1px;
  padding: 30px;
  margin: 20px;
  border-color: rgb(212, 212, 212);
  border-radius: 20px;
}
.contact h2 {
  margin: auto;
  color: rgb(82, 82, 82);
}
